<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="inMemoryUserRepository" class="ru.javawebinar.topjava.repository.inmemory.InMemoryUserRepository"/>

    <bean id="userService" class="ru.javawebinar.topjava.service.UserService">
        <constructor-arg name="repository" ref="inMemoryUserRepository"/>
    </bean>

    <bean class="ru.javawebinar.topjava.web.user.AdminRestController">
        <constructor-arg name="service" ref="userService"/>
    </bean>

    <bean id="inMemoryMealRepository" class="ru.javawebinar.topjava.repository.inmemory.InMemoryMealRepository"/>

    <bean id="mealService" class="ru.javawebinar.topjava.service.MealService">
        <constructor-arg name="repository" ref="inMemoryMealRepository"/>
    </bean>

    <bean class="ru.javawebinar.topjava.web.meal.MealRestController">
        <constructor-arg name="service" ref="mealService"/>
    </bean>
</beans>